.Root {
  // overflow: hidden;
}

.Controls {
  background: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  padding: 30px 10px 20px;

  & > * {
    flex: 0 0 calc(50% - 20px);
    margin: 0 10px !important;
  }
}
