@import '~styles/variables.scss';

.Root {
  align-items: center;
  background: transparent;
  border: 0;
  display: flex;
  font-weight: inherit;
  margin: 0;
  padding: 12px;
  transition: all .2s;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    opacity: .8;

    .Icon {
      background: $color-primary;
    }

    .Title {
      color: $color-primary;
    }
  }

  &Icon {
    &Desktop {
      .Cover {
        flex: 0 0 23px;
        width: 23px;
      }

      .Icon {
        mask-image: url('../assets/desktop.svg');
      }
    }

    &Mobile {
      .Cover {
        flex: 0 0 12px;
        width: 12px;
      }

      .Icon {
        mask-image: url('../assets/mobile.svg');
      }
    }

    &Tablet {
      .Cover {
        flex: 0 0 15px;
        width: 15px;
      }

      .Icon {
        mask-image: url('../assets/tablet.svg');
      }
    }
  }

  &Is {
    &Active {
      pointer-events: none;

      .Icon {
        background: $color-primary;
      }

      .Title {
        color: $color-primary;
      }
    }
  }
}

.Cover {
  height: 20px;
}

.Icon {
  background: $color-text-secondary;
  height: 100%;
  mask: no-repeat center center;
  width: 100%;
}

.Title {
  color: $color-text-secondary;
  font-size: 12px;
  letter-spacing: .6px;
  margin: 0 0 0 14px;
  text-transform: uppercase;
}

// Animations
.Root,
.Cover,
.Icon,
.Title {
  transition: all .2s;
}
