@import './style/desktop.scss';
@import './style/mobile.scss';
@import './style/tablet.scss';

.Root {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.Background {
  flex: 1 1 auto;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

.Blur {
  filter: blur(20px);
  height: 100%;
  left: 0;
  overflow: visible !important;
  position: absolute !important;
  top: 28px;
  width: 100%;
  z-index: 1;
}

.Body {
  display: flex;
  flex-direction: column;
}

.Container {
  width: 100%;
}

.Copyright {
  &Text {
    font-size: 14px;
    letter-spacing: .1px;
  }
}

.Description {
  &Text {
    overflow: hidden;
  }

  &Wrapper {
    position: relative;

    &:before {
      background: #fff;
      content: '';
      display: flex;
      height: 2px;
      position: absolute;
    }
  }
}

.Footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.Screenshots {
  overflow: hidden;
  position: absolute;
}

.Smartphone {
  &Mockup {
    filter: drop-shadow(0 32px 24px rgba(0, 0, 0, .6));
  }
}

.Title {
  &Text {
    overflow: hidden;
  }
}

.Track {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Wrapper {
  display: flex;
  width: 100%;
}
