.Root {
  display: flex;
  width: 100%;
}

.Alpha {
  height: 8px;
  margin: 24px 12px 0;
  position: relative;
  width: calc(100% - 24px);

  & > div > div:nth-child(2) {
    border-radius: 4px;
  }

  & > div > div:nth-child(3) > div {
    top: -1px;
  }
}

.Color {
  border: 6px solid #f0f1f1;
  border-radius: 100%;
  height: 80px;
  position: relative;
  transition: all .2s;
  width: 80px;

  &:before {
    background: inherit;
    border-radius: 100%;
    content: '';
    display: block;
    filter: blur(4px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.Hex {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 16px 0 0;
  position: relative;
  width: 84px;

  &:after {
    background-image: linear-gradient(to right, rgba(214, 214, 215, 0), #d6d6d7 52%, rgba(214, 214, 215, 0));
    content: '';
    display: block;
    height: 1px;
    margin: 4px 0 0;
    width: 100%;
  }

  & input {
    background: transparent;
    border: 0;
    color: #C5C9CE;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .6px;
    text-align: center;
    text-transform: uppercase;
    width: 68px;

    &:focus {
      outline: none;
    }
  }
}

.Hue {
  height: 8px;
  margin: 24px 12px 0;
  position: relative;
  width: calc(100% - 24px);

  :global .hue-horizontal {
    border-radius: 4px;

    & > div {
      top: -1px;
    }
  }
}

.Preview {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 136px;
  justify-content: center;
  width: 100%;
}

.Saturation {
  border-radius: 4px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, .2);
  height: 136px;
  overflow: hidden;
  position: relative;
  width: 136px;
}

.Section {
  flex: 0 0 136px;
  width: 136px;

  &:first-child {
    flex: 0 0 calc(136px - 16px);
    margin: 0 12px 0 0;
    width: calc(136px - 16px);
  }
}
