{
  "semi": true,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
