@import '~styles/breakpoints';

.Root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &Animate {
    &Enter {
      &Active {
        .Choose {
          transition-delay: .2s;
        }

        .Description {
          transition-delay: .1s;
        }

        .Choose,
        .Description,
        .Title {
          opacity: 1 !important;
          transform: translateY(0) !important;
          transition-duration: .4s;
          transition-property: all;
        }
      }

      .Choose,
      .Description,
      .Title {
        opacity: 0;
        transform: translateY(40px);
      }
    }
  }

  &With {
    &Price {
      .Header {
        height: 0;
        opacity: 0;
        transform: translateY(-140px);
        transition: all .4s;
      }

      .List {
        height: 425px;
        margin: 64px 0 0;
        transition: all .4s;

        @include breakpoint(laptop) {
          height: 290px;
        }
      }

      .Period {
        height: 60px;
        margin: 24px 0 0;
        opacity: 1;
        visibility: visible;
        transition: all .4s;

        @include breakpoint(desktop) {
          margin: 60px 0 0;
        }
      }

      .Price {
        height: 256px;
        transition: all .4s;


        @include breakpoint(laptop) {
          height: auto;
        }
      }
    }
  }
}

.Choose {
  color: #7a8a9a;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;

  @include breakpoint(laptop) {
    font-size: 14px;
    line-height: 20px;
  }
}

.Description {
  color: #7a8a9a;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin: 16px 0 0;

  @include breakpoint(laptop) {
    font-size: 10px;
    line-height: 22px;
    margin: 12px 0 0;
  }
}

.Header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 140px;

  @include breakpoint(laptop) {
    height: auto;
  }
}

.List {
  height: 44px;
  margin: 0;
  width: 1200px;

  @include breakpoint(laptop) {
    width: 780px;
  }
}

.Period {
  height: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
}

.Price {
  height: 564px;

  @include breakpoint(laptop) {
    height: 440px;
  }
}

.Title {
  background: linear-gradient(to right, #5e7adb, #8359c1);
  background-clip: text;
  font-size: 46px;
  font-weight: 900;
  letter-spacing: -.2px;
  -webkit-text-fill-color: transparent;

  @include breakpoint(laptop) {
    font-size: 30px;
    letter-spacing: 0;
  }
}
