@import '~styles/breakpoints';

.Root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &Animate {
    &Enter {
      &Active {
        .Choose {
          transition-delay: 0.2s;
        }

        .Description {
          transition-delay: 0.1s;
        }

        .Coupon,
        .Period {
          transition-delay: 0.3s;
        }

        .Choose,
        .Coupon,
        .Description,
        .Period,
        .Title {
          opacity: 1 !important;
          transform: translateY(0) !important;
          transition-duration: 0.4s;
          transition-property: all;
        }
      }

      .Choose,
      .Coupon,
      .Description,
      .Period,
      .Title {
        opacity: 0;
        transform: translateY(40px);
      }
    }
  }
}

.Choose {
  color: #7a8a9a;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;

  @include breakpoint(laptop) {
    font-size: 14px;
    line-height: 20px;
  }
}

.Coupon {
  align-items: center;
  background: url('./assets/coupon-background.png') no-repeat center center /
    contain;
  display: flex;
  height: 160px;
  margin: 20px 0 0;
  padding: 0 40px 36px;
  width: 588px;

  &Code {
    flex: 0 0 100px;

    & > div {
      &:nth-child(1) {
        color: #b3b8c3;
        font-size: 14px;
      }

      &:nth-child(2) {
        color: #424c5c;
        font-size: 16px;
        margin: 4px 0 0;
      }
    }
  }

  &Info {
    color: #7e8899;
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 28px;
    margin: 0 32px;
  }

  &Number {
    align-items: center;
    background: linear-gradient(232deg, #5e7adb 0, #8359c1 100%);
    border-radius: 100%;
    color: #fff;
    display: flex;
    flex: 0 0 60px;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    justify-content: center;
    width: 60px;

    &:before {
      color: rgba(#fff, 0.2);
      content: '%';
      font-size: 48px;
      position: absolute;
    }
  }
}

.Description {
  color: #7a8a9a;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin: 16px 0 0;

  @include breakpoint(laptop) {
    font-size: 10px;
    line-height: 22px;
    margin: 12px 0 0;
  }
}

.Header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 88px;

  @include breakpoint(laptop) {
    height: auto;
  }
}

.List {
  height: 425px;
  margin: 64px 0 0;
  transition: all 0.4s;
  width: 1200px;

  @include breakpoint(laptop) {
    display: flex;
    height: 290px;
    justify-content: center;
  }
}

.Period {
  height: 60px;
  margin: 24px 0 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;

  @include breakpoint(desktop) {
    margin: 40px 0 0;
  }
}

.Title {
  background: linear-gradient(to right, #5e7adb, #8359c1);
  background-clip: text;
  font-size: 46px;
  font-weight: 900;
  letter-spacing: -0.2px;
  -webkit-text-fill-color: transparent;

  @include breakpoint(laptop) {
    font-size: 30px;
    letter-spacing: 0;
  }
}
