.Root {
  flex: 0 0 100px;
  height: 100px;
  position: relative;
  width: 100%;

  &Is {
    &Fetching {
      .Save {
        pointer-events: none;
      }
    }
  }

  &With {
    &Actions {
      .Actions {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
    }

    &Steps {
      .Title {
        border-right: 2px solid rgba(0, 0, 0, .05);
        flex: 0 0 200px;
      }
    }

    &Title {
      .Steps {
        flex: 1 1 0;
      }

      .Title {
        max-width: calc(100% - 240px);
        opacity: 1;
      }
    }
  }
}

.Actions {
  display: flex;
  flex: 0 0 240px;
  justify-content: flex-end;
  opacity: 0;
  transform: translateY(-50%);
  transition: all .4s;
  visibility: hidden;

  & > *:not(:first-child) {
    margin: 0 0 0 24px;
  }
}

.Back {
  align-items: center;
  color: #c4c9d1;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  letter-spacing: .75px;
  text-decoration: none;
  transition: all .2s;
  width: 100px;

  &:active {
    color: #8e8ad8;
    opacity: .8;

    &:before {
      background: #8e8ad8;
    }
  }

  &:before {
    background: #c4c9d1;
    content: '';
    display: block;
    height: 12px;
    margin: 0 12px 0 0;
    mask: url('components/Icon/assets/back.svg') no-repeat center center;
    mask-size: contain;
    transition: all .2s;
    width: 20px;
  }

  &:hover:not(:active) {
    color: #8e8ad8;

    &:before {
      background: #8e8ad8;
      margin: 0 20px 0 0;
    }
  }
}

.Center {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  max-width: 1280px;
  width: calc(100% - 380px);

  &Animate {
    &Enter {
      opacity: 0;

      &Active {
        opacity: 0;
      }

      &Done {
        opacity: 1;
      }
    }

    &Exit {
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      transition: all .4s;
      visibility: visible;
      width: 100%;

      &Active {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.Container {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #f8f8fc;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.Left {
  display: flex;
  flex: 0 1 306px;
  justify-content: space-between;
}

.Logo {
  flex: 0 0 36px;
  height: 36px;
  width: 36px;

  &Image {
    background: url('../assets/logo.svg') no-repeat center center;
    background-size: contain;
    height: 28px;
    width: 28px;
  }

  &Link {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
}

.Right {
  display: flex;
  flex: 0 1 330px;
  justify-content: flex-end;
}

.Save {
  align-items: center;
  background-image: linear-gradient(248deg, #5e7adb, #8359c1);
  border: 0;
  border-radius: 32px;
  color: #fff;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  letter-spacing: .75px;
  opacity: .5;
  position: relative;
  text-decoration: none;
  transition: all .2s;
  width: 100px;

  &:active {
    opacity: .7;
  }

  &:focus {
    outline: none;
  }

  &:hover:not(:active) {
    cursor: pointer;
    opacity: .9
  }
}

.Shadow {
  background: #7e7acc;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  filter: blur(40px);
  height: 130px;
  left: 0;
  opacity: .2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.Steps {
  flex: 1 1 auto;
  height: 100%;
  max-width: calc(100% - 440px);
}

.Title {
  color: #a4a8b0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -.3px;
  opacity: 0;
  overflow: hidden;
  padding: 0 24px 0 0;
  text-overflow: ellipsis;
  transition: all .6s, opacity .4s ease-out .2s;
  white-space: nowrap;
}
