.Root {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  width: 100%;

  &Device {
    &Desktop {
      .Container {
        height: 768px;
        width: 1280px;
      }
    }

    &Mobile {
      .Container {
        height: 568px;
        width: 320px;
      }
    }

    &Tablet {
      .Container {
        height: 1024px;
        width: 768px;
      }
    }
  }
}

.Container {
  background: #d8d8d8;
  border-radius: 10px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, .15);
  overflow: scroll;
  transition: all .4s ease-in-out;
}
