@import '~styles/breakpoints';

.Root {
  align-items: center;
  display: flex;
  transition: all .2s;

  &:active {
    opacity: .6;
  }

  &:hover {
    .Title {
      color: var(--color-primary);
    }
  }
}

.Description {
  color: #c5c9ce;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1px;
  margin: 4px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include breakpoint(laptop) {
    font-size: 8px;
    letter-spacing: .1px;
  }
}

.Left {
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, .1);
  flex: 0 0 60px;
  height: 60px;
  width: 60px;

  @include breakpoint(laptop) {
    flex: 0 0 40px;
    height: 40px;
    width: 40px;
  }
}

.Icon {
  mask: url('../assets/app-store-mask.svg') no-repeat center center;
  mask-size: contain;
  max-height: 100%;
  max-width: 100%;
}

.Right {
  flex: 1 1 auto;
  margin: 0 0 0 16px;
  max-width: calc(100% - 76px);
}

.Title {
  color: #aeb2ba;
  font-size: 12px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all .2s;
  white-space: nowrap;

  @include breakpoint(laptop) {
    font-size: 8px;
    letter-spacing: .7px;
  }
}
