.Root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.Container {
  margin: 20px 0 0;
}

.Create {
  align-items: center;
  background: #e8e8e8;
  border: 0;
  border-radius: 3px;
  display: flex;
  height: 228px;
  justify-content: center;
  transition: all .2s;

  &:active,
  &:focus {
    outline: none;

    .Icon {
      background: #8e8ad8;
    }
  }

  &:hover {
    // @todo - нормальные тени
    background: #ffffff;
    box-shadow: 0 24px 40px -20px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    transform: scale(1.1);
  }
}

.Icon {
  background: #c8cbd0;
  mask: url('./assets/upload.svg') no-repeat center center;
  mask-size: contain;
  height: 16px;
  width: 16px;
}
