.Root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  width: 100%;

  &:hover {
    .Fullscreen {
      opacity: 1;
    }
  }

  &Variant {
    &Desktop {
      .Fullscreen {
        right: 48px;
        top: 48px;
      }
    }

    &Mobile {
      .Fullscreen {
        right: 32px;
        top: 60px;
      }
    }

    &Tablet {
      .Fullscreen {
        right: 48px;
        top: 48px;
      }
    }
  }
}

.Container {
  align-items: center;
  background: #d8d8d8;
  border-radius: 10px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, .15);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all .6s;
  position: relative;
  z-index: 1;

  & > * {
    position: relative;
    z-index: 0;
  }

  &::-webkit-scrollbar {
    display: none;
    opacity: 0;
  }
}

.Fullscreen {
  background: rgba(#000, .4);
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 20px 0 rgba(#000, .2);
  height: 40px;
  position: absolute;
  opacity: 0;
  right: 70px;
  top: 70px;
  transition: all .2s;
  width: 40px;
  z-index: 1;

  &:hover {
    background-color: rgba(#000, .2);
    box-shadow: 0 6px 9px 0 rgba(#000, .2);

    & > i {
      color: #000;
    }
  }

  & > i {
    color: #fff;
    font-size: 20px;
  }
}

.Layout {
  display: flex;
  transition: all .6s;
}

.Scale {
  background: #fff;
  border-radius: 0 0 0 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  font-size: 14px;
  opacity: .5;
  padding: 4px 12px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .2s;
  z-index: 1;

  &:hover {
    opacity: 1;
  }
}
