@font-face {
  font-family: 'Avenir';
  font-weight: 100;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 100;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-ThinItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 300;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 300;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 400;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-RegularItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 500;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 500;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 600;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-Demi.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 600;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-DemiItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 700;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 700;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 900;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 900;
  src: local('Avenir Next Cyr'), url(styles/fonts/Avenir-BlackItalic.ttf) format('truetype');
}
