.Root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  &Variant {
    &Desktop {
      .Body {
        padding: 0 100px;
      }

      .Container {
        max-width: 1280px;
        min-height: 720px;
        min-width: 1280px;
        padding: 40px;
      }

      .Content {
        flex: 0 0 480px;
        max-width: 480px;
      }

      .Icon {
        height: 36px;
      }

      .Slider {
        flex: 1 1 auto;
        margin: 0 0 0 100px;
        max-width: calc(100% - 580px);
      }

      .Smartphone {
        height: 530px;
        position: relative;
        width: 260px;

        &Mockup {
          filter: drop-shadow(0 32px 24px rgba(0, 0, 0, .6));
        }
      }

      .Store {
        margin: 60px 0 0;
      }
    }

    &Mobile {
      .Body {
        padding: 0;
      }

      .Container {
        min-height: 667px;
        min-width: 375px;
        padding: 24px;
      }

      .Content {
        margin: 40px 0 0;
      }

      .Description {
        min-height: 20px;
        margin: 14px 0 0;
        max-height: 80px;

        &Text {
          font-size: 12px;
          line-height: 20px;
          overflow: hidden;
        }
      }

      .Screenshots {
        padding: 10px 10px 18px !important;
      }

      .Smartphone {
        height: 247px;
        position: relative;
        width: 121px;

        &Mockup {
          filter: drop-shadow(0 32px 24px rgba(0, 0, 0, .5));
        }
      }

      .Store {
        margin: 40px 0 0;
      }

      .Title {
        min-height: 28px;
        max-height: 56px;

        &Text {
          font-size: 22px;
          letter-spacing: 1.6px;
          line-height: 28px;
          overflow: hidden;
        }
      }
    }

    &Tablet {
      .Body {
        padding: 0 84px;
      }

      .Container {
        min-height: 1024px;
        min-width: 768px;
        padding: 36px;
      }

      .Smartphone {
        height: 353px;
        position: relative;
        width: 173px;
      }

      .Screenshots {
        padding: 14px 14px 24px !important;
      }
    }

    &Desktop,
    &Tablet {
      .Content {
        margin: 72px 0 0;
      }

      .Description {
        min-height: 26px;
        margin: 32px 0 0;
        max-height: 78px;

        &Text {
          font-size: 12px;
          line-height: 26px;
          overflow: hidden;
        }
      }

      .Store {
        margin: 40px 0 0;
      }

      .Title {
        min-height: 52px;
        max-height: 104px;

        &Text {
          font-size: 42px;
          letter-spacing: 2.5px;
          line-height: 52px;
          overflow: hidden;
        }
      }
    }

    &Mobile,
    &Tablet {
      .Body {
        align-items: flex-start;
        flex-direction: column-reverse;
        justify-content: center;
      }
    }
  }
}

.Body {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  max-height: calc(100% - 52px);
}

.Container {
  align-content: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.Copyright {
  &Text {
    font-size: 14px;
    line-height: 16px;
  }
}

.Footer {
  align-items: center;
  display: flex;
  flex: 0 0 16px;
  justify-content: space-between;
}

.Header {
  align-items: center;
  display: flex;
  flex: 0 0 36px;
  justify-content: space-between;
}

.Icon {
  border-radius: 10px;
  height: 36px;
}

.Policy {
  text-transform: uppercase;
}
