.Root {
  &Variant {
    &Laptop {
      .About {
        padding: 92px 0;

        &List {
          margin: 12px 0 0;

          & > * {
            flex: 0 0 292px;
          }
        }

        .Description {
          max-height: 120px;
        }
      }

      .Description {
        max-height: 48px;

        &Text {
          font-size: 12px;
          line-height: 24px;
        }
      }

      .Download {
        margin: 200px 0 80px;

        .Content {
          margin: 0 260px 0 0;
          width: 400px;
        }
      }

      .Header {
        margin: 40px 0 0;
        max-width: 1200px;

        &Icon {
          border-radius: 8px;
          height: 40px;
          width: 40px;
        }
      }

      .Intro {
        .Description {
          margin: 4px 0 0;
        }

        .Content {
          flex: 0 440px;
          margin: 80px 0 0 0;
        }

        .Smartphone {
          flex: 0 0 252px;
          height: 512px;
          width: 252px;
        }

        .Title {
          &Text {
            font-size: 48px;
          }
        }

        .Wrapper {
          justify-content: space-evenly;
          padding: 40px 0 0;
        }
      }

      .Policy {
        margin: 0 120px 0 0;
      }

      .Preview {
        margin: 140px 0;

        &Grid {
          display: grid;
          margin: 12px 0;

          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 60px;
          grid-row-gap: 80px;
          grid-template-rows: repeat(2, 1fr);
        }

        &Description {
          margin: 8px 0 0;
          max-height: 72px;

          &Text {
            font-size: 12px;
            line-height: 24px;
          }
        }

        &Title {
          max-height: 32px;

          &Text {
            font-size: 12px;
            line-height: 32px;
          }
        }

        .Content {
          align-items: center;
          display: flex;
          flex-direction: column;
          margin: 0 0 0 200px;
          width: 480px;
        }
      }

      .Quote {
        margin: 84px 0;
        max-width: 786px !important;

        &Author {
          margin: 20px 0 0;
          max-height: 16px;

          &Text {
            font-size: 12px;
            letter-spacing: 1.7px;
            line-height: 16px;
          }
        }

        &Title {
          text-align: center;
          max-height: 120px;

          &Text {
            font-size: 26px;
            line-height: 40px;
          }
        }
      }

      .Slogan {
        max-height: 24px;
        top: 12px;

        &Text {
          font-size: 12px;
          line-height: 24px;
        }
      }

      .Smartphone {
        height: 476px;
        width: 236px;
      }

      .Store {
        margin: 32px 0 0;
      }

      .Title {
        max-height: 62px;

        &Text {
          font-size: 38px;
          letter-spacing: 0.4px;
          line-height: 60px;
        }
      }

      .Wrapper {
        max-width: 1200px;
      }
    }
  }
}
