.Root {
  display: flex;
  overflow: hidden;
  position: relative;

  & > a {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &Is {
    &Focused {
      .Container {
        cursor: pointer;
      }

      .Focus {
        opacity: .8;
      }
    }
  }
}

.Container {
  position: relative;
  width: 100%;
  z-index: 5;
}

.Cover {
  background: no-repeat center center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all .4s;
  width: 100%;
  z-index: 1;
}

.Focus {
  background: url('https://i.pinimg.com/originals/b9/a4/48/b9a4481726e1700279ae5b69cdde8146.png') repeat left top;
  background-size: 6%;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all .4s;
  width: 100%;
  z-index: 2;
}

.Wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}
