.Root {
  color: inherit;
  display: flex;
  position: relative;
  text-decoration: none;

  &:hover:not(.RootIsActive) {
    .Black {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, .6);
    }

    .Border {
      border-color: rgba(255, 255, 255, .6);
    }
  }

  &Is {
    &Active {
      pointer-events: none;

      .Black {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
      }

      .Border {
        border-color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.Black {
  border-radius: 8px;
  display: block;
  height: calc(100% + 12px);
  left: -10px;
  position: absolute;
  transition: .2s all;
  top: -6px;
  width: calc(100% + 20px);
  z-index: 1;
}

.Border {
  border: 2px dashed transparent;
  border-radius: 10px;
  display: block;
  height: calc(100% + 16px);
  left: -12px;
  position: absolute;
  transition: .2s all;
  top: -8px;
  width: calc(100% + 24px);
  z-index: 2;
}

.Content {
  height: 100%;
  width: 100%;
}
