.Root {
  position: relative;
}

.Container {
  position: absolute;
  z-index: 1;
}

.Link {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.Mockup {
  background: no-repeat center center;
  background-size: contain;
  height: 100%;
  width: 100%;
}
