.Root {
  display: flex;
  justify-content: center;
  position: relative;
  width: 186px;

  &:focus {
    outline: none;
  }

  &Opened {
    .Dropdown {
      opacity: 1;
      transform: translateY(44px);
      visibility: visible;
    }
  }
}

.Dropdown {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 10px 40px 0 rgba(126, 122, 204, .12);
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transform: translateY(20px);
  transition: all .2s;
  visibility: hidden;
  width: 186px;

  &Wrapper {
    padding: 20px;
  }
}

.Expiration {
  margin: 10px 0 0;

  &Progress {
    background: #f2f2f2;
    border-radius: 2px;
    height: 2px;
    letter-spacing: .4px;
    margin: 6px 0 0;
    overflow: hidden;
    position: relative;

    &Bar {
      background: var(--color-primary);
      height: 2px;
      left: 0;
      position: absolute;
      top: 0;
      width: 60%;
    }
  }

  &Title {
    color: #c8cbd0;
    font-size: 12px;
  }
}

.Link {
  align-items: center;
  color: #aeb2ba;
  display: flex;
  font-size: 12px;
  height: 20px;
  letter-spacing: .4px;
  text-decoration: none;

  &:active {
    color: var(--color-primary);
    opacity: .8;

    .LinkIcon {
      background: var(--color-primary);
    }
  }

  &:hover:not(:active) {
    color: var(--color-primary);

    .LinkIcon {
      background: var(--color-primary);
    }
  }

  &:not(:first-child) {
    margin: 8px 0 0;
  }

  &Is {
    &Active {
      color: var(--color-primary);;
      pointer-events: none;
    }
  }

  &Icon {
    background: #aeb2ba;
    mask: no-repeat center center;
    height: 12px;
    width: 12px;

    &Password {
      mask-image: url('../assets/password.svg');
    }

    &Plans {
      mask-image: url('../assets/plans.svg');
    }

    &Website {
      mask-image: url('../assets/website.svg');
    }
  }

  &Title {
    margin: 0 0 0 8px;
  }
}

.Links {
  margin: 16px 0 0;
}

.Logout {
  height: 40px;

  &Button {
    align-items: center;
    background: var(--color-primary);
    border: 0;
    color: #ffffff;
    display: flex;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    letter-spacing: .4px;
    margin: 0;
    opacity: .8;
    padding: 0;
    transition: all .2s;
    width: 100%;

    &:active {
      opacity: .6;
    }

    &:hover:not(:active) {
      opacity: 1;
    }
  }
}

.Status {
  color: var(--color-primary);
  font-size: 12px;
  letter-spacing: .4px;
  text-transform: uppercase;
}

.Trigger {
  height: 42px;

  &Button {
    background: transparent;
    border: 0;
    color: #bfbfc7;
    display: flex;
    font-family: inherit;
    font-size: 14px;
    letter-spacing: .1px;
    padding: 12px 4px;

    &:after {
      color: #e4e4eb;
      content: '▼';
      font-size: 10px;
      margin: 0 0 0 16px;
      position: relative;
      top: 4px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: #aeb2ba;
      cursor: pointer;

      &:after {
        color: #aeb2ba;
      }
    }
  }
}
