.Root {
  background: #e8e8e8;
  border-radius: 4px;
  transition: all .4s;

  &:hover {
    // @todo - нормальные тени
    background: #ffffff;
    box-shadow: 0 12px 40px -20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.1);
  }
}

.Icon {
  background: #c8cbd0;
  mask: url('../assets/upload.svg') no-repeat center center;
  mask-size: contain;
  height: 16px;
  width: 16px;
}

.Input {
  display: none;
}

.Label {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}
