@import '~styles/variables.scss';

.Root {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;

  & > * {
    flex: 0 0 128px;
    height: 220px;
    margin: 8px;
    width: 128px;

    @media #{$desktop-small} {
      flex: 0 0 75px;
      width: 75px;
      height: 133px;
      margin: 6px;
    }
  }
}
