.Root {
  border-radius: 16px;
  height: 100%;
  opacity: .6;
  overflow: hidden;
  position: relative;
  transition: all .2s;
  width: 100%;

  &:after {
    animation: spin 1s infinite linear;
    border: 2px solid #9e9ae2;
    border-radius: 100%;
    border-top-color: transparent;
    height: 24px;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
    width: 24px;
    z-index: 2;
  }

  &:before {
    background: #ffffff;
    border: 4px solid #f0f1f1;
    border-radius: 16px;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .2s;
    width: 100%;
  }

  &:after,
  &:before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }

  &:hover {
    cursor: pointer;
  }

  &Is {
    &Current {
      pointer-events: none;

      &:before {
        border-color: #9e9ae2;
      }

      .Check {
        background: #8e8ad8;
      }
    }

    &Loaded {
      pointer-events: none;

      &:after,
      &:before {
        opacity: 1;
        visibility: visible;
      }

      .Preview {
        opacity: 0;
      }
    }
  }

  &:hover,
  &IsCurrent {
    box-shadow: 0 24px 40px -20px rgba(0, 0, 0, 0.32);
    opacity: 1;
    transform: scale(1.12);

    .Current {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.Check {
  background: #aeb2ba;
  height: 10px;
  mask: url('components/Icon/assets/check.svg') no-repeat center center;
  mask-size: contain;
  transition: all .2s;
  width: 13px;
}

.Current {
  align-items: center;
  background: #ffffff;
  border-radius: 100%;
  bottom: 40px;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  height: 32px;
  justify-content: center;
  left: calc(50% - 18px);
  opacity: 0;
  position: absolute;
  transform: translateY(56px);
  transition: all .2s;
  width: 32px;
}

.Preview {
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
  transition: all .2s;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
