.Root {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;

  &Animate {
    &Enter {
      .Header {
        opacity: 0;
        transform: translateY(40px);
      }

      &Active {
        opacity: 1;

        .Header {
          opacity: 1;
          transform: translate(0);
        }
      }
    }
  }
}

.Create {
  align-items: center;
  background: rgba(#9E9AE2, .8);
  border-radius: 20px;
  color: rgba(#FFF, .8);
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  letter-spacing: .75px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  width: 100px;

  &:active {
    background: rgba(#9E9AE2, .6);
  }

  &:hover:not(:active) {
    background: var(--color-primary);
  }
}

.Header {
  align-items: center;
  display: flex;
  transition: all .3s;
  transition-delay: .3s;
}

.Item {
  transition: all .4s;

  &Animate {
    &Enter {
      opacity: 0;
      transform: translateY(40px);

      &Active {
        opacity: 1;
        transform: translate(0);
      }
    }

    &Exit {
      opacity: 1;

      &Active {
        animation: deleteWebsite .3s linear;
        opacity: 0;
      }
    }
  }
}

.Limit {
  flex: 1 1 auto;
  margin: 0 0 0 120px;
}

.List {
  display: flex;
  flex-wrap: wrap;
  margin: 16px -20px 0;

  & > * {
    flex: 0 0 270px;
    margin: 20px;
    max-width: 270px;
  }
}

.Title {
  color: #424c5c;
  font-size: 30px;
  letter-spacing: .3px;
}

.Wrapper {
  width: 1200px;
}

@keyframes deleteWebsite {
  0% { transform: scale(1); }
  20% { transform: scale(1.1); }
  100% { transform: scale(.3); }
}
