.Root {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;

  &Animate {
    &Enter {
      .Header {
        opacity: 0;
        transform: translateY(40px);
      }

      &Active {
        opacity: 1;

        .Header {
          opacity: 1;
          transform: translate(0);
        }
      }
    }
  }
}

.Create {
  align-items: center;
  background: rgba(158, 154, 226, .7);
  border-radius: 20px;
  color: #fff;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  letter-spacing: .2px;
  position: relative;
  text-decoration: none;
  transition: all .2s;
  width: 100px;

  &:active {
    background: rgba(142, 138, 216, .6);

    &:before {
      background: rgba(142, 138, 216, .6);
      filter: 8px;
      transform: translateY(10px);
    }
  }

  &:after {
    content: 'Create';
    opacity: .8;
    position: relative;
    z-index: 2;
  }

  &:before {
    background: rgba(158, 154, 226, .8);
    border-radius: 20px;
    content: '';
    display: block;
    filter: blur(6px);
    height: 20px;
    position: absolute;
    transition: all .2s;
    width: 80px;
    z-index: 1;
  }

  &:hover:not(:active) {
    background: rgba(142, 138, 216, .8);

    &:before {
      background: rgba(142, 138, 216, 1);
      filter: 8px;
      transform: translateY(10px);
    }
  }
}

.Header {
  align-items: center;
  display: flex;
  transition: all .3s;
  transition-delay: .3s;
}

.Item {
  transition: all .4s;

  &Animate {
    &Enter {
      opacity: 0;
      transform: translateY(40px);

      &Active {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}

.Limit {
  flex: 1 1 auto;
  margin: 0 0 0 120px;
}

.List {
  display: flex;
  flex-wrap: wrap;
  margin: 16px -20px 0;

  & > * {
    flex: 0 0 270px;
    margin: 20px;
    max-width: 270px;
  }
}

.Title {
  color: #424c5c;
  font-size: 30px;
  letter-spacing: .3px;
}

.Wrapper {
  width: 1200px;
}
