.Root {
  &Current {
    &Background {
      transform: translateX(0);
    }

    &Color {
      .ColorTrack {
        transform: translateX(calc(-50% - 48px));
      }
    }
  }
}

.Color {
  margin: 40px 0 0;
  overflow: hidden;
  width: 100%;

  &Track {
    display: flex;
    margin: 0 -24px;
    transition: all .4s;
    width: calc(200% + 48px);

    & > * {
      flex: 0 0 50%;
      margin: 0 24px !important;
    }
  }
}
