.Root {
  &Current {
    &Background {

    }

    &Color {
      .ColorTrack {
        transform: translateX(calc(-316px));
      }
    }
  }
}

.Color {
  margin: 40px 0 0;
  overflow: hidden;
  width: 100%;

  &Track {
    display: flex;
    margin: 0 -24px;
    transition: all .4s;
    width: 200%;

    & > * {
      flex: 0 0 50%;
      margin: 0 24px !important;
    }
  }
}
