@import "./variants/v1";

.Root {
  align-items: center;
  border: 0;
  display: flex;
  height: 44px;
  text-decoration: none;
  transition: all .2s;
  width: 100%;

  &Is {
    &View {
      &:active {
        box-shadow: 0 12px 20px 0 rgba(0, 0, 0, .16);
        opacity: .8;
      }

      &:hover:not(:active) {
        box-shadow: 0 12px 20px 0 rgba(0, 0, 0, .16);
        opacity: .9;
      }
    }
  }
}

.Download {
  color: #7065fc;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .6px;
}

.Icon {
  align-items: center;
  color: #7065fc;
  display: flex;
  flex: 0 0 20px;
  font-size: 20px;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.Info {
  margin: 0 0 0 6px;
}

.Title {
  color: #7065fc;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .34px;
}
