.Root {
  align-items: center;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  left: 0;
  opacity: .9;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.Spinner {
  animation: spin 1s infinite linear;
  border: 4px solid #7e5dc6;
  border-top-color: transparent;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.Title {
  color: #aeb2ba;
  font-size: 14px;
  letter-spacing: .2px;
  margin: 12px 0 0;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to {transform: rotate(360deg); }
}
