.Root {
  min-width: 768px;
}

.Container {
  min-height: 100%;
  padding: 40px;
  min-height: 100%;
  max-width: 768px;
  overflow-x: hidden;
  width: 100%;
}

.Content {
  margin: 72px 0 0;
  max-width: 480px;
}

.Copyright {
  font-size: 14px;
  letter-spacing: 1px;
  word-break: break-word;
}

.Description {
  font-size: 14px;
  line-height: 30px;
  margin: 20px 0 0;
  word-break: break-word;
}

.Footer {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: space-between;
  margin: 40px 0 0;
  width: 100%;
}

.Header {
  align-items: center;
  display: flex;
  flex: 0 0 36px;
  height: 36px;
  justify-content: space-between;
  width: 100%;
}

.Icon {
  border-radius: 8px;
  height: 40px;
  width: 40px;
}

.Policy {
  font-size: 14px;
  letter-spacing: 1px;

  &Container {
    & > *:not(:first-child) {
      margin: 0 0 0 40px;
    }
  }
}

.Screenshots {
  height: 268px;
  left: 10px;
  position: absolute;
  top: 42px;
  width: 152px;

  &Item {
    height: 268px;
    width: 152px;
  }
}

.Slider {
  flex: 1 1 auto;
}

.Smartphone {
  height: 353px;
  position: relative;
  width: 173px;

  &Mockup {
    filter: drop-shadow(0 32px 24px rgba(0, 0, 0, .6));
  }
}

.Store {
  margin: 40px 0 0;
}

.Title {
  font-size: 42px;
  letter-spacing: 3px;
  line-height: 52px;
  word-break: break-word;
}

.Wrapper {
  padding: 80px;
}
