.Root {
  display: flex;
  width: 100%;
}

.Container {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  max-width: calc(100% - 320px);
}

.Devices {
  flex: 0 0 160px;
  width: 100%;
}

.Sidebar {
  display: flex;
  flex: 0 0 272px;
  margin: 0 24px 24px;
  max-width: 272px;
  width: 100%;
}

.View {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
