@import '~styles/variables.scss';

.Root {
  display: flex;
  flex-wrap: wrap;
  margin: 24px -8px 0;

  & > div {
    flex: 0 0 104px;
    height: 212px;
    margin: 16px;
    width: 104px;

    @media #{$desktop-small} {
      flex: 0 0 60px;
      height: 122px;
      margin: 15px;
      width: 60px;
    }
  }
}
