.Root {
  &:not(:first-child) {
    margin: 24px 0 0;
  }
}

.Control {
  margin: 12px 0 0;
}

.Label {
  color: #c5c9ce;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .6px;
  text-transform: uppercase;
}
