.Root {
  &:not(:first-child) {
    margin: 36px 0 0;
  }
}

.Label {
  color: #c5c9ce;
  display: block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .6px;
  margin: 0 0 12px;
  text-transform: uppercase;
}
