.Root {
  &Variant {
    &Contained {
      .Input {
        background: #f0f1f1;
        border: 0;
        border-radius: 4px;
        color: #aeb2ba;
        height: 40px;
        padding: 0 16px;

        &:hover {
          background: #ffffff;
          box-shadow: 0 12px 20px rgba(0, 0, 0, .08);
        }

        &:focus {
          background: #ffffff;
          box-shadow: 0 12px 20px rgba(0, 0, 0, .04);
        }
      }
    }

    &Flat {
      .Input {
        background: #f5f5f5;
        border: 1px solid transparent;
        border-radius: 6px;
        color: #979797;
        height: 50px;
        letter-spacing: .3px;
        padding: 0 20px;

        &:focus {
          border-color: rgba(#9E9AE2, .3);
          color: var(--color-primary);
        }

        &:hover:not(:focus) {
          border-color: #eee;
          color: #7B7A7A;
        }
      }
    }
  }
}

.Input {
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  letter-spacing: .6px;
  transition: all .2s;
  width: 100%;

  &:focus {
    outline: none;
  }
}

