.Root {
  max-width: 100%;

  &:focus {
    outline: none;
  }

  &:hover:not(.RootIsOpened) {
    cursor: pointer;

    .Plus {
      box-shadow: 0 5px 16px 0 rgba(0, 0, 0, .06);

      &:before {
        background: #a6a2e9;
      }
    }

    .Pro {
      opacity: 1;
    }
  }

  &Is {
    &Filled {
      .Icon {
        background-color: #ffffff;
        box-shadow: 0 5px 16px 0 rgba(0, 0, 0, .06);
      }

      .Plus {
        box-shadow: 0 5px 16px 0 rgba(0, 0, 0, .06);

        &:before {
          transform: rotate(45deg);
        }
      }
    }

    &Opened {
      cursor: pointer;

      .Dropdown {
        height: 40px;
        margin: 12px 0 0;
        opacity: 1;
      }

      .Plus {
        background: #9e9ae2;

        &:before {
          background: #ffffff;
          transform: rotate(45deg);
        }
      }
    }

    &Pro {
      .Info {
        max-width: calc(100% - 100px);
      }
    }
  }
}

.Dropdown {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, .06);
  height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 16px;
  transition:
    height .15s,
    margin .25s,
    opacity .25s;
}

.Input {
  background: transparent;
  border: 0;
  color: #aeb2ba;
  font-family: inherit;
  font-size: 14px;
  font-weight: inherit;
  height: 100%;
  letter-spacing: .6;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.Icon {
  align-items: center;
  background: #f0f1f1 no-repeat center center;
  border-radius: 4px;
  color: #ccced3;
  display: flex;
  flex: 0 0 40px;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  transition: all .2s ease-in-out;
  width: 40px;
}

.Info {
  flex: 1 1 auto;
  margin: 0 0 0 16px;
  max-width: calc(100% - 92px);
}

.Label {
  color: #c5c9ce;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
}

.Pro {
  background: #b8b4f9;
  border-radius: 20px;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 0 0 0 8px;
  opacity: .6;
  padding: 3px 8px;
  transition: all .2s;
}

.Plus {
  align-items: center;
  background: #ffffff;
  border: 0;
  border-radius: 100%;
  display: flex;
  flex: 0 0 24px;
  height: 24px;
  justify-content: center;
  margin: 0 0 0 12px;
  padding: 0;
  transition: all .2s;
  width: 24px;

  &:before {
    background: #c8cbd0;
    content: '';
    display: block;
    height: 9px;
    mask: url('components/Icon/assets/plus.svg') no-repeat center center;
    mask-size: contain;
    position: relative;
    transition: all .2s;
    width: 8px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.Trigger {
  align-items: center;
  display: flex;

  &:focus {
    outline: none;
  }
}

.Link {
  color: #bfbfc7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 16px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .2s;
  white-space: nowrap;

  &:hover {
    color: #7e7acc;
  }
}
