.Root {
  position: relative;

  &:focus {
    outline: none;
  }

  &Is {
    &Opened {
      .Dropdown {
        opacity: 1;
        transform: translateY(52px);
        visibility: visible;
      }

      .Trigger {
        &Button {
          box-shadow:
            0 4px 12px rgba(158, 154, 226, .4);
          opacity: 1;

          &:before {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.Dropdown {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  padding: 20px 0 12px 0;
  position: absolute;
  top: 0;
  transform: translateY(44px);
  transition: all .2s;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}

.Item {
  align-items: center;
  color: #aeb2ba;
  display: flex;
  font-size: 14px;
  height: 36px;
  letter-spacing: .4px;
  padding: 0 16px 0 32px;
  transition: all .2s;

  &:hover {
    background: #f9f9f9;
    cursor: pointer;
  }

  &Is {
    &Current {
      box-shadow: inset 2px 0 0 #9e9ae2;
    }
  }
}

.List {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
}

.Placeholder {
  color: #c5c9ce;
  font-size: 12px;
  letter-spacing: .8px;
  margin: 0 20px;
  text-transform: uppercase;
}

.Trigger {
  align-items: center;
  background: #f0f1f1;
  border-radius: 4px;
  display: flex;
  color: #aeb2ba;
  font-size: 14px;
  height: 40px;
  justify-content: space-between;
  letter-spacing: .6px;
  padding: 0 4px 0 16px;
  position: relative;

  &:hover {
    cursor: pointer;

    .TriggerButton {
      opacity: 1;
    }
  }

  &Button {
    align-items: center;
    background: #b8b4f9;
    border: 0;
    border-radius: 4px;
    display: flex;
    height: 28px;
    justify-content: center;
    margin: 0 0 0 16px;
    opacity: .8;
    padding: 0;
    transition: all .2s;
    width: 28px;

    &:before {
      border-color: #fff transparent transparent;
      border-style: solid;
      border-width: 8px 5px 0 5px;
      content: '';
      transform: rotate(0deg);
      transition: all .2s;
    }

    &:focus {
      outline: none;
    }
  }
}
