@import '~styles/breakpoints';

.Root {
  &Is {
    &ReadOnly {
      .Textarea {
        pointer-events: none;
      }
    }
  }
}

.Textarea {
  background: #f0f1f1;
  border: 0;
  border-radius: 4px;
  color: #aeb2ba;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  height: 160px;
  letter-spacing: .6px;
  padding: 12px 16px;
  resize: none;
  transition: all .2s;
  width: 100%;

  &:hover {
    background: #ffffff;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .08);
  }

  &:focus {
    background: #ffffff;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .04);
  }

  @include breakpoint(laptop) {
    font-size: 14px;
    letter-spacing: .2px;
  }
}
