.Root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.Container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.Header {
  height: 86px;
  position: relative;
  width: 100%;

  &Container {
    background: #fff;
    border-bottom: 1px solid #f8f8fc;
    height: 100%;
    padding: 0 30px;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  &Shadow {
    background: #7e7acc;
    border-radius: 100% / 32px;
    filter: blur(25px);
    height: 100%;
    left: 0;
    opacity: .2;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
