.Root {
  background: transparent;
  border: 0;
  border-radius: 6px;
  height: 135px;
  opacity: 0.6;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: all 0.4s;
  width: 240px;

  &:hover,
  &IsSelected {
    box-shadow: 0 20px 40px -12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 1;
    transform: scale(1.07);

    .Check {
      transform: translateY(0);
    }
  }

  &Is {
    &Selected {
      pointer-events: none;

      .Check:before {
        background: #8e8ad8;
      }
    }
  }
}

.Check {
  background: #fff;
  border-radius: 100%;
  bottom: 28px;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
  height: 32px;
  left: calc(50% - 16px);
  position: absolute;
  transform: translateY(68px);
  transition: all 0.4s;
  width: 32px;

  &:before {
    background: #aeb2ba;
    content: '';
    display: block;
    height: 100%;
    mask: url('components/Icon/assets/check.svg') no-repeat center center;
    mask-size: 12px 9px;
    transition: all 0.2s;
    width: 100%;
  }
}

.Image {
  max-width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.Label {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  padding: 4px 6px;
  position: absolute;
  right: 16px;
  text-transform: uppercase;
  top: 16px;
  z-index: 2;
}
