.Root {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 0 60px 16px;
  width: 100%;
}

.Group {
  display: flex;

  & > * {
    flex: 0 0 276px;

    &:not(:first-child) {
      margin: 0 0 0 32px;
    }
  }
}

.Section {
  &:not(:first-child) {
    margin: 20px 0 0;
  }
}
