@import '~styles/breakpoints';

.Root {
  background-image: linear-gradient(196deg, transparent, transparent);
  border-radius: 14px;
  display: flex;
  height: 425px;
  position: relative;
  transition: all .4s;
  text-align: center;

  @include breakpoint(laptop) {
    height: 290px;
  }

  &:hover {
    background: linear-gradient(to bottom left, #5f7bdb, #7e5ec8);
    box-shadow: 0 20px 40px rgba(146, 130, 213, .4);

    .Button {
      background: #fff;
      border-color: #fff;
      box-shadow: none;
    }

    .Cover {
      opacity: 1;
      transform: translateY(0%);
      visibility: visible;
    }

    .Title {
      border-color: rgba(255, 255, 255, .2);
    }

    .Count,
    .Item,
    .Price,
    .Title,
    .Unit {
      color: #fff;
    }
  }
}

.Button {
  background: transparent;
  border: 2px solid rgba(154, 150, 249, .6);
  border-radius: 32px;
  bottom: -20px;
  box-shadow: inset 0 0 0 2px rgba(154, 150, 249, .2);
  color: #9a96f9;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  left: calc(50% - 60px);
  position: absolute;
  transition: all .2s;
  width: 120px;
  z-index: 10;

  @include breakpoint(laptop) {
    font-size: 10px;
    height: 28px;
    left: calc(50% - 41px);
    width: 82px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.Content {
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Cover {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, .1) 0%,
    rgba(216, 216, 216, 0) 97%
  );
  border-radius: 400px / 180px;
  bottom: -28%;
  box-shadow: 0 6px 60px 0 rgba(0, 0, 0, .14);
  height: 100%;
  left: -50%;
  opacity: 0;
  position: absolute;
  transform: translateY(20%);
  transition: all .2s;
  visibility: hidden;
  width: 200%;
  z-index: 1;
}

.Count {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .7px;
  opacity: .6;

  @include breakpoint(laptop) {
    font-size: 9px;
    letter-spacing: .5px;
  }
}

.Info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 2;
}

.Item {
  color: #919cae;
  font-size: 12px;
  letter-spacing: .3px;
  opacity: .8;

  &:not(:first-child) {
    margin: 12px 0 0;

    @include breakpoint(laptop) {
      margin: 6px 0 0;
    }
  }

  @include breakpoint(laptop) {
    font-size: 9px;
    letter-spacing: .2px;
  }
}

.List {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  margin: -16px 0 0;

  @include breakpoint(laptop) {
    font-size: 9px;
    letter-spacing: .5px;
  }
}

.Price {
  color: #9a96f9;
  font-size: 40px;
  letter-spacing: -.4px;
  margin: 24px 0 0;

  @include breakpoint(laptop) {
    font-size: 28px;
    letter-spacing: -.3px;
    margin: 16px 0 0;
  }
}

.Title {
  border-bottom: 2px solid transparent;
  color: #7e8899;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .8px;
  padding: 32px 0 16px;

  @include breakpoint(laptop) {
    font-size: 12px;
    letter-spacing: .6px;
    padding: 20px 0 12px;
  }
}

.Unit {
  color: #9a96f9;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -.22px;
  margin: 0 0 0 4px;
  opacity: .3;
  position: relative;
  top: -16px;

  @include breakpoint(laptop) {
    font-size: 15px;
    letter-spacing: 0;
  }
}

.Count,
.Item,
.Price,
.Title,
.Unit {
  transition: all .4s;
}
