.Root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
  transition: all .4s;

  &:focus {
    outline: none;
  }

  &:hover:not(.RootIsDensed),
  &.RootIsSelected {
    cursor: pointer;
    transform: translateY(-40px);

    .Actions {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    .Icon {
      filter: drop-shadow(0 40px 16px rgba(0, 0, 0, 0.16));
    }

    .Title {
      background: linear-gradient(to right, #5e7adb, #8359c1);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &Is {
    &Densed {
      height: 252px;
      transition: all .4s;

      &.RootIsSelected {
        transform: translateY(0);
      }

      .Actions {
        height: 0;
        margin: 0;
        opacity: 0 !important;
        transition: all .4s;
        visibility: hidden;
      }

      .Description {
        height: 0;
        margin: 0;
        opacity: 0;
        transition: all .4s;
        visibility: hidden;
      }
    }

    &Selected {
      .Actions {
        opacity: 0;
      }
    }
  }

  &Variant {
    &Average {
      .Icon {
        background-image: url('../assets/avg.png');
      }
    }

    &Max {
      .Icon {
        background-image: url('../assets/max.png');
      }
    }

    &Min {
      .Icon {
        background-image: url('../assets/min.png');
      }
    }
  }
}

.Actions {
  margin: 32px 0 0;
  opacity: 0;
  transform: translateY(20px);
  transition: all .2s;
  visibility: hidden;
}

.Description {
  color: #7a8a9a;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  margin: 20px 0 0;
  text-align: center;
  transition: all .2s;
}

.Icon {
  background: no-repeat center center;
  background-size: contain;
  filter: drop-shadow(0 16px 12px rgba(0, 0, 0, 0.16));
  height: 200px;
  width: 200px;
}

.Next {
  background: transparent;
  border: 0;
  color: #7e8899;
  font-size: 14px;
  font-weight: 700;
}

.Title {
  color: #727d8f;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: -0.1px;
  margin: 40px 0 0;
  transition: all .2s;
}
