.Root {
  align-items: center;
  box-shadow: none;
  display: flex;
  height: 40px;
  padding: 0 16px 0 60px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:hover:not(&Active) {
    cursor: pointer;

    .Icon {
      background: var(--color-primary);
    }

    .Title {
      color: var(--color-primary);
    }
  }

  &Active {
    box-shadow: inset 4px 0 0 var(--color-primary);
    pointer-events: none;

    .Icon {
      background: var(--color-primary);
    }

    .Title {
      color: var(--color-primary);
    }
  }

  &Icon {
    &Background {
      .Icon {
        mask-image: url('../assets/background.svg');
      }
    }

    &Domain {
      .Icon {
        mask-image: url('../assets/domain.svg');
      }
    }

    &Icon {
      .Icon {
        mask-image: url('../assets/icon.svg');
      }
    }

    &Screenshots {
      .Icon {
        mask-image: url('../assets/screenshots.svg');
      }
    }

    &Smartphone {
      .Icon {
        mask-image: url('../assets/smartphone.svg');
      }
    }

    &Social {
      .Icon {
        mask-image: url('../assets/social.svg');
      }
    }

    &Store {
      .Icon {
        mask-image: url('../assets/store.svg');
      }
    }

    &Templates {
      .Icon {
        mask-image: url('../assets/templates.svg');
      }
    }

    &Text {
      .Icon {
        mask-image: url('../assets/text.svg');
      }
    }
  }
}

.Cover {
  flex: 0 0 20px;
  height: 20px;
  width: 20px;
}

.Icon {
  background: var(--color-text-secondary);
  height: 100%;
  mask: no-repeat center center;
  mask-size: contain;
  width: 100%;
}

.Title {
  color: var(--color-text-secondary);
  flex: 1 1 auto;
  font-size: 12px;
  letter-spacing: .6px;
  margin: 0 0 0 40px;
}

// Animations
.Root,
.Cover,
.Icon,
.Title {
  transition: all .2s;
}
