@import './styles/laptop.scss';

.Root {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.About {
  display: flex;
  flex-direction: column;

  &List {
    display: flex;
    justify-content: space-between;

    & > * {
      flex: 0 0 292px;
    }
  }
}

.Common {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Description {
  &Text {
    overflow: hidden;
  }
}

.Hr {
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0) 3%, #b4b5b5 50%, rgba(250, 250, 250, 0));
  height: 1px;
  width: 100%;
}

.Intro {
  &Container {
    display: flex;
    justify-content: center;
  }
}

.Preview {
  &Description {
    &Text {
      overflow: hidden;
      word-break: normal !important;
    }
  }

  &Grid {
    & > *:nth-child(odd) {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      text-align: right;
    }
  }

  &Title {
    &Text {
      overflow: hidden;
      text-transform: uppercase;
      word-break: normal !important;
    }
  }
}

.Quote {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 786px !important;

  &Author {
    &Text {
      overflow: hidden;
      text-transform: uppercase;
    }
  }

  &Title {
    &Text {
      overflow: hidden;
    }
  }
}

.Slogan {
  position: relative;

  &Text {
    text-transform: uppercase;
  }
}

.Smartphone {
  height: 476px;
  width: 236px;

  &Container {
    height: 356px;
    left: 18px;
    top: 59px;
    width: 200px;
  }
}

.Title {
  &Text {
    overflow: hidden;
  }
}

.Wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
