.Root {
  display: flex;

  &View {
    &Desktop {
      .Container {
        height: 60px;
      }
    }

    &Mobile {
      .Container {
        height: 44px;
      }
    }

    &Tablet {
      .Container {
        height: 56px;
        margin: 0 -16px;

        & > * {
          margin: 0 16px;
        }
      }
    }
  }
}

.Container {
  display: flex;
  margin: 0 -10px;

  & > * {
    // flex: 0 0 calc(50% - 20px);
    margin: 0 10px;
  }
}
