.Root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  width: 100%;
}

.Container {
  align-items: center;
  background: #d8d8d8;
  border-radius: 10px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, .15);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all .6s;
  position: relative;
  z-index: 1;

  & > * {
    position: relative;
    z-index: 0;
  }

  &::-webkit-scrollbar {
    display: none;
    opacity: 0;
  }
}
