@import '~styles/breakpoints.scss';

.Actions {
  margin: 16px 0 0;
}

.Group {
  display: flex;

  & > * {
    flex: 0 0 276px;

    &:not(:first-child) {
      margin: 0 0 0 32px !important;
    }
  }
}

.Textarea {
  height: 300px;

  @include breakpoint(laptop) {
    height: 200px;
  }
}
