@import '~styles/fonts.scss';
@import '~styles/variables.scss';

:global html {
  box-sizing: border-box;
}

:global body {
  background: #f9f9f9;;
  color: #545e6f;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

:global * {
  box-sizing: inherit;

  &[role="button"] {
    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &::after,
  &::before {
    box-sizing: inherit;
  }

  &:focus {
    outline: none;
  }
}

:global button {
  &:hover {
    cursor: pointer;
  }
}

:global input {
  &::-webkit-input-placeholder {
    color: #979797;
  }

  &::-moz-placeholder {
    color: #979797;
  }

  &:-ms-input-placeholder {
    color: #979797;
  }

  &:-moz-placeholder {
    color: #979797;
  }
}

.Root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
