.Root {
  height: 16px;
  width: 16px;
}

.Icon {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  justify-items: center;
  opacity: .6;
  width: 100%;
}
