.Root {
  &Variant {
    &Color {
      .Track {
        transform: translateX(calc(-33% - 24px));
      }
    }

    &Gradient {
      .Track {
        transform: translateX(calc(-66% - 24px));
      }
    }

    &Image {
      .Track {
        transform: translateX(-24px);
      }
    }
  }
}

.Icon {
  background: #d6d6d7;
  height: 100%;
  mask: no-repeat center center;
  mask-size: auto 20px;
  padding: 0 12px;
  transition: all .2s;
  width: 100%;

  &:hover:not(.IconIsSelected) {
    background: #7e79cb;
  }

  &Is {
    &Selected {
      background: #7e7acc;
    }
  }

  &Variant {
    &Color {
      mask-image: url('../assets/color.svg');
    }

    &Gradient {
      mask-image: url('../assets/gradient.svg');
    }

    &Image {
      mask-image: url('../assets/image.svg');
    }
  }
}

.Tabs {
  width: 240px;

  &Wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.List {
  overflow: hidden;
  padding: 36px 0;
}

.Track {
  display: flex;
  flex-wrap: nowrap;
  transition: all .4s;
  width: calc(100% * 3 + 48px * 3);

  & > * {
    flex: 0 0 100%;
    margin: 0 24px !important;
    max-width: calc(33% - 48px);
  }
}
